<div class="center">
  <h1>Cadastro de Prato</h1>
  
  <div class="interno2">
      <h2>Dados</h2>
  </div>
  <div class="interno2 borda" >
    <div class="interno">
      <label>
        <p>Restaurante</p>
        <select [(ngModel)]="meal.restaurantId" >
          <option value="0" >Restaurante...</option>
          <option *ngFor="let restaurante of restaurantes" value={{restaurante.restaurantId}}>
            {{restaurante.restaurantName}}
          </option>

        </select>
      </label>

      <label>
        <p>Prato</p>
        <input type="text" [(ngModel)] = "meal.name" />
      </label>

      <label>
        <p>Preço(R$)</p>
        <input type="text" [(ngModel)] = "meal.price" >
      </label>
      <div>
          <input type="button" value="Cancelar" routerLink="/pratos"/>
          <input type="button" value="Salvar" (click)="manter();"/>
      </div>
    </div>
  </div>
</div>
