<div>
  <h1>CADASTRO DE PRATO</h1>
  <div>
    <P>Dados</P>

    <label>Restaurante:
      <select [(ngModel)]="meal.restaurantId" >
        <option value="0" >Restaurante...</option>
        <option *ngFor="let restaurante of restaurantes" value={{restaurante.restaurantId}}>
          {{restaurante.restaurantName}}
        </option>

      </select>
    </label>

    <label>Prato:
      <input [(ngModel)] = "meal.name" placeholder="Nome">
    </label>

    <label>Preço(R$):
      <input [(ngModel)] = "meal.price" >
    </label>

    <button routerLink="/pratos">Cancelar</button>
    <button (click)="manter();">Salvar</button>
  </div>
</div>
