<div class="center">
  <h1>Cadastro de Restaurante</h1>
  
  <div class="interno2">
      <h2>Dados</h2>
  </div>
  <div class="interno2 borda" >
    <div class="interno">
      <label>
        <p>Nome do restaurante</p>
        <input type="text" [(ngModel)] = "restaurante.restaurantName"/>
      </label>

      <div>
        <input type="button" value="Cancelar" routerLink="/restaurantes"/>
        <input type="button" value="Salvar" (click)="manter();" />
      </div>
    </div>
  </div>
</div>